force-app/main/default/flows/dsales_CodCertiArm.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>dsalesContadorGEX</name>
        <label>ContadorGEX</label>
        <locationX>578</locationX>
        <locationY>719</locationY>
        <assignmentItems>
            <assignToReference>dsalesContador</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>dsalesObtenerRegGEX</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>dsalesContador</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dsalesformatoGEX</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>dsalesContadorVar</name>
        <label>Asignación de variable</label>
        <locationX>50</locationX>
        <locationY>719</locationY>
        <assignmentItems>
            <assignToReference>dsalesContador</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Obtener_registros_2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>dsalesContador</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dsalesformatoAR</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>dsalesencontrarCert</name>
        <label>EncontroTipoDeRegistro</label>
        <locationX>182</locationX>
        <locationY>503</locationY>
        <defaultConnectorLabel>No se encontró</defaultConnectorLabel>
        <rules>
            <name>DsalesSiencontro</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>dsalesRegistroAR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obtener_registros_2</targetReference>
            </connector>
            <label>Si se encontró</label>
        </rules>
    </decisions>
    <decisions>
        <name>dsalesEncontroRecordTypeGEX</name>
        <label>EncontróTipodeRegistro</label>
        <locationX>710</locationX>
        <locationY>503</locationY>
        <defaultConnectorLabel>No se encontró</defaultConnectorLabel>
        <rules>
            <name>dsalessiencontroGEX</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>dsalesObtRegGex</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dsalesObtenerRegGEX</targetReference>
            </connector>
            <label>Si se encontró</label>
        </rules>
    </decisions>
    <decisions>
        <name>dsalesTipoCertificado</name>
        <label>Tipo de Certificado</label>
        <locationX>644</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>dsalesAR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>dsalesArmadoMuebles</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dsalesRegistroAR</targetReference>
            </connector>
            <label>AR</label>
        </rules>
        <rules>
            <name>dsalesGEX</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>dsalesGarantiaExtendida</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dsalesObtRegGex</targetReference>
            </connector>
            <label>GEX</label>
        </rules>
    </decisions>
    <description>Código Certificado AR</description>
    <environments>Default</environments>
    <formulas>
        <description>Formato</description>
        <name>dsalesformatoAR</name>
        <dataType>String</dataType>
        <expression>&quot;AR-&quot;&amp; LPAD(TEXT({!dsalesContador}),7,&quot;0&quot;)</expression>
    </formulas>
    <formulas>
        <name>dsalesformatoGEX</name>
        <dataType>String</dataType>
        <expression>&quot;GEX-&quot;&amp; LPAD(TEXT({!dsalesContador}),7,&quot;0&quot;)</expression>
    </formulas>
    <interviewLabel>Código Certificado AR {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Código Certificado AR</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>dsalesObtenerRegGEX</name>
        <label>Obtener registros 2GEX</label>
        <locationX>578</locationX>
        <locationY>611</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dsalesContadorGEX</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>dsalesObtRegGex.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>DSALES_Certificado__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>dsalesObtRegGex</name>
        <label>Obtener registros GEX</label>
        <locationX>710</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dsalesEncontroRecordTypeGEX</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DSALES_Certificado__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>dsalesGarantiaExtendida</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>dsalesRegistroAR</name>
        <label>Obtener registros AR</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dsalesencontrarCert</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DSALES_Certificado__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>dsalesArmadoMuebles</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_registros_2</name>
        <label>Obtener registros 2</label>
        <locationX>50</locationX>
        <locationY>611</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dsalesContadorVar</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>dsalesRegistroAR.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>DSALES_Certificado__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>518</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>dsalesTipoCertificado</targetReference>
        </connector>
        <object>DSALES_Certificado__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>dsalesContador</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
