force-app/main/default/flows/DSALES_EnvioCorreoEstatusPoliza.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Enviar_polizaa</name>
        <label>Enviar poliza</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <actionName>InsurancePolicy.DSALES_Poliza_Nueva</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Se envia un correo cuando la poliza pasa a status cancelado</description>
        <name>Envide_correo_en_estatus_cancelado</name>
        <label>Envió de correo en estatus cancelado</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <actionName>InsurancePolicy.DSALES_AlertadeCorreocambiodeEstatusdePolizaaCancelado</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Envio_correo_electronico</name>
        <label>Envió de correo electrónico</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Poliza_cancelada</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.dsalesEstatusPoliza__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelada</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Envide_correo_en_estatus_cancelado</targetReference>
            </connector>
            <label>Póliza cancelada</label>
        </rules>
        <rules>
            <name>enviar_poliza</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.dsalesEstatusPoliza__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Vigente</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DSALES_Polizaenviada__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enviar_polizaa</targetReference>
            </connector>
            <label>enviar póliza</label>
        </rules>
    </decisions>
    <description>Envía correos al cliente dependiendo del estatus de la póliza</description>
    <interviewLabel>Envió de correo de estatus de póliza {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Envió de correo de estatus de póliza</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Envio_correo_electronico</targetReference>
        </connector>
        <object>InsurancePolicy</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
